extends layout

block content
	form#register-form(action="/register" method="post")
		.forum-group
			label(for="username") 
				| Usename
				span *
			input(type="text", name="username")
			span.error 
				if(errors)
					each error in errors
                		li= error.msg
		.forum-group
			label(for="password") 
				| Password
				span *
			input(type="password", name="password")
		.forum-group
			label(for="repassword") 
				| Re-enter Password
				span *
			input(type="password", name="repassword")
		.separator
		.forum-group
			label(for="fname") 
				| First Name
				span *
			input(type="text", name="fname")
		.forum-group
			label(for="lname") 
				| Last Name
				span *
			input(type="text", name="lname")
		.forum-group
			label(for="email") 
				| Email
				span *
			input(type="text", name="email")
		.forum-group
			label(for="email") Comments
			textarea(type="text", name="comment")
		.submit-button
			input(type="submit", name="submit", value="Submit")